<div>
    <h1>Object Concept</h1>
    {{person | json}}
    
    <h3>accessing Property of objects</h3>
    <p>Get person name using 'person.name' : {{person.name}}</p>
    <p>Get person name using 'person["name"]' : {{person["name"]}}</p>
    
    <h3>Object functions</h3>
    <p>Person full name 'person.fullName()' : ' {{person.fullName()}}</p>

    <h4>get key value of single object using ngfor loop</h4>
    <p *ngFor="let x of person | keyvalue">
        <span>person key is <b>{{x.key}}</b> value is <b>{{x.value}}</b></span>
    </p>

    <h4>Object using its values() and keys() method</h4>
    <div>array values => {{values | json}}</div>
    <div>array keys => {{keys | json}}</div>
    <h4>convert object into string</h4>
    <p>{{objString}}</p>

</div>