<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
      <li class="page-item" (click)="pageChange(activePage + 1)">
        <a class="page-link" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item" *ngFor="let item of pages" (click)="pageChange(item)"><a class="page-link">{{item}}</a></li>
      <li class="page-item" (click)="pageChange(activePage + 1)">
        <a class="page-link" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>