// Backgroud colors of sidebar and main section
$bg-primary : #ffffff;
$bg-main: #f7f8fa;

//border colors of the table
$light-border : rgb(220,220,220);
$blue-border : #2f6bff;
$resume-border : #505050;

//button colors

$black : #000000;
$primary-btn : #2f6bff;

//font colors

$primary-font : #ffffff;
$secondary-font : #000000;
$head-font : #cbccd0;
$error-font : #e70505;
$blue-font : #3354d9;