$bgcolor : rgb(245,245,245);
$mainbordercolor : #333;
$insidebordercolor : rgb(220,220,220);

.resume-wrapper{
   background-color:  $bgcolor;
   padding: 2rem;
   margin: 0 5rem;
   border-top: $mainbordercolor 4px solid;
   border-bottom: $mainbordercolor 4px solid;
}

.resume-header{
    text-align: left;
    width: 100%;
    border-bottom: 1px solid $insidebordercolor;
    border-collapse: collapse;

    #header-name{
        width: 75%;
    }

    #header-contact{
        width: 25%;
    }

}




