<div class="resume-wrapper">
  <table class="resume-header"> 
    <thead>
      <tr>
        <th id="header-name">
          <h1>{{resumedetail.fullname}}</h1>
          <p><em>WEB DESIGNER, DIRECTOR</em></p>
        </th>
        <th id="header-contact">
          <p><button>Download PDF</button></p>
          <p><a href="mailto:{{resumedetail.email}}">{{resumedetail.email}}</a></p>
          <p><strong></strong></p>
        </th>
      </tr>
    </thead>
  </table>
  <table>
    <tbody>
      {{resumedetail | json}}
      <tr>
        <td>
          <em>Profile</em>
        </td>
        <td>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni officiis veniam reprehenderit, nostrum
          consectetur quasi corporis incidunt molestiae delectus provident vel minima, odit reiciendis quos aperiam enim
          deleniti mollitia. Ab.
        </td>
      </tr>

      <tr>
        <td>
          <em>Skills</em>
        </td>
        <td>
          <table>
            <tr>
              <td>
                <h3>Web Design</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga, omnis. Possimus, perferendis eaque.
                  Ullam</p>

              </td>
              <td>
                <h3>Interface Design</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga, omnis. Possimus, perferendis eaque.
                  Ullam</p>
              </td>
              <td>
                <h3>Project Direction</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga, omnis. Possimus, perferendis eaque.
                  Ullam</p>
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <tr>
        <td>
          <em>Technical</em>
        </td>
        <td>
          <table>
            <tr>
              <td>XHTML</td>
              <td>JQUERY</td>
              <td>OS X</td>
            </tr>
            <tr>
              <td>CSS</td>
              <td>PHP</td>
              <td>Windows XP/Vista</td>
            </tr>
            <tr>
              <td>JavaScript</td>
              <td>PHP</td>
              <td>Windows XP/Vista</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <em>Experience</em>
        </td>
        <td>
          <table>
            <tr>
              <td>
                <strong>Facebook</strong>
              </td>
              <td>2005-2007</td>
            </tr>
            <tr>
              <td><small>Senior Interface Designer</small></td>
            </tr>
            <tr>
              <td>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam perferendis ducimus ad voluptates
                consectetur optio nulla dignissimos expedita facere ipsum inventore commodi soluta, quis exercitationem
                dolorem omnis. Voluptatem, neque magni!
              </td>
            </tr>
            <tr>
              <td>
                <strong>Apple Inc.</strong>
              </td>
              <td rowspan="3">2005-2007</td>
            </tr>
            <tr>
              <td><small>Senior Interface Designer</small></td>
            </tr>
            <tr>
              <td>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam perferendis ducimus ad voluptates
                consectetur optio nulla dignissimos expedita facere ipsum inventore commodi soluta, quis exercitationem
                dolorem omnis. Voluptatem, neque magni!
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td rowspan="2">
          <em>Education</em>
        </td>
        <td>
          <strong>Indiana University</strong>
        </td>
      </tr>
      <tr>
        <td>Dual Major -<strong> 4.0 GPA</strong></td>
      </tr>
    </tbody>
  </table>
  <p>Jonathan Doe - <a href="mailto:email@example.com">name@yourdomain.com</a> - (313)-867-5309</p>
</div>