<div>
    <div>
        <label for="name"></label>
        <input type="text" id="name">
    </div>
    <div>
        <label for="section"></label>
        <select id="section">
            <option value="section1">Section 1</option>
            <option value="section2">Section 2</option>
            <option value="section3">Section 3</option>
            <option value="section4">Section 4</option>
        </select>
    </div>
    <div>
        <label for="phoneno"></label>
        <input type="text" id="phoneno">
    </div>
    <div>
        <div>
            <label for="mark1"></label>
            <input type="text" id="mark1">
        </div>
        <div>
            <label for="mark2"></label>
            <input type="text" id="mark2">
        </div>
        <div>
            <label for="mark3"></label>
            <input type="text" id="mark3">
        </div>
    </div>
</div>