<nav class="navigation nav-width">
    <div>
        <label for="toggle" id="menu-icon"><i class="fa fa-bars"></i></label>
        <input type="checkbox" id="toggle">
    </div>
    <div class="menu">
       <div class="feature-nav">
            <ul>
                <li class="nav-link link-secondary"><a routerLink="resume"><i class="fa fa-slack"></i> Dashboard</a></li>
                <li class="nav-link link-secondary"><a routerLink="resume"><i class="fa fa-file-text"></i> Resume Builder</a></li>
                <li class="nav-link link-secondary"><a routerLink="users"><i class="fa fa-file-text"></i> Users</a></li>
            </ul>
        </div>
    </div>
  </nav>