<nav class="navigation nav-width">
    <span>Angular</span>
    <div class="d-flex" id="profile-wrapper">
        <div class="user-image">
            <figure>
                <img src="./assets/images/icons8-person-female-96.png" alt="User image">
            </figure>
        </div>
        <div id="user-detail">
            <h5>User Profile</h5>
            <small>userprofile@gmail.com</small>
        </div>
    </div>
    <div class="menu">
       <div class="feature-nav">
            <ul>
                <li class="nav-link"><a routerLink="users"><i class="fa fa-slack"></i><span>Dashboard</span></a></li>
                <li class="nav-link"><a routerLink="resume"><i class="fa fa-file-text"></i><span>Resume Builder</span></a></li>
                <li class="nav-link"><a routerLink="users"><i class="fa fa-user"></i><span>Users</span></a></li>
                <li class="nav-link"><a routerLink="webapi"><i class="fa fa-user"></i><span>In-memory-web-API</span></a></li>
                <li class="nav-link"><a routerLink="object"><i class="fa fa-user"></i><span>JavaScript Objects</span></a></li>
                <li class="nav-link"><a routerLink="array"><i class="fa fa-user"></i><span>JavaScript Arrays</span></a></li>
                <li class="nav-link"><a routerLink="elementRef"><i class="fa fa-user"></i><span>Element Reference</span></a></li>
            </ul>
        </div>
    </div>
    
</nav>