<div class="user-wrapper">
    <div class="form-header">
        <div>
            <span><h1>Users</h1></span>
            <label for="client-dropdown">Client:</label>
            <select name="clientName" class="select-op" [(ngModel)]="selectedOption" (change)="filterClient()">
                <option [value]="0" selected>All</option>
                <option [value]="client.id" *ngFor="let client of clientnameOptions;">{{client.name}}</option>
            </select>
        </div>
        <div>
           
            <button class="new-user-btn" (click)="loadNewuserForm()">+ New User</button>
        </div>
    </div>

    <div>
        <!-- user form compnent with parent child communication -->
        <app-user-form *ngIf="isNewUserAdd === true" [clientNames]="clientnameOptions" [offices]="OfficeOptions"  [editToUser]="edituser" (createUser)="saveUserDetail($event)" (updateUser)="updateUserDetail($event)"></app-user-form>
    </div>
    <div>
        <!-- user listing component with parent child communication -->
        <app-user-listing [userList]="tempUserList" [clientNames]="clientnameOptions" [offices]="OfficeOptions" (editId)="editUserDetails($event)" (deleteId)="deleteUserDetails($event)"></app-user-listing>
    </div>
</div>