<section>
    <div>
        <form *ngIf="userForm" [formGroup]="userForm" (ngSubmit)="onUserSave()" autocomplete="off">
            <div class="user-form" [formGroup]="userForm">
                <div class="form-control-div">
                    <input type="text" class="inputText" id="firstName" formControlName="firstName"
                        placeholder="First Name">
                    <label for="firstName" class="disable floating-label">FirstName</label>
                    <!-- validation for firstname input -->
                    <span class="error">
                        <span
                            *ngIf="(formControl['firstName']?.touched) && formControl['firstName'].errors?.['required']">Firstname
                            is Required
                        </span>
                        <span
                            *ngIf="(formControl['firstName']?.dirty) && formControl['firstName'].errors?.['pattern']">Firstname
                            should only in character.
                        </span>
                    </span>
                    <!-- end -->
                </div>
                <div class="form-control-div">
                    <div class="mb-3">
                        <label for="lastName" class="disable">LastName</label>
                        <input type="text" class="inputText" id="lastName" formControlName="lastName"
                            placeholder="Last Name" />
                        <!-- validation for Lastname input -->
                        <span class="error">
                            <span
                                *ngIf="(formControl['lastName']?.touched) && formControl['lastName'].value?.['required']">Lastname
                                is Required
                            </span>
                            <span
                                *ngIf="(formControl['lastName']?.dirty) && formControl['lastName'].errors?.['pattern']">Lastname
                                should only in character
                            </span>
                        </span>
                        <!-- end -->
                    </div>
                    <div>
                        <label for="clientName" class="disable">Client Name</label>
                        <select class="inputText" formControlName="clientName">
                            <option [value]="0" disabled selected>Client Name</option>
                            <option [value]="client.id" *ngFor="let client of clientNames; let index">{{client.name}}
                            </option>
                        </select>
                        <!-- validation for clientname input -->
                        <span class="error">
                            <span
                                *ngIf="formControl['clientName']?.touched && formControl['clientName'].errors?.['required']">clientname
                                is Required
                            </span>
                        </span>
                        <!-- end -->
                    </div>
                </div>
                <div class="form-control-div">
                    <div class="mb-3">
                        <label for="email" class="disable">Email</label>
                        <input type="email" class="inputText" id="email" formControlName="email" placeholder="Email" />
                        <!-- validation for email input -->
                        <span class="error"
                            *ngIf="(formControl['email'].touched) && formControl['email'].errors?.['required']">
                            Email is Required
                        </span>
                        <span *ngIf="formControl['email'].touched && formControl['email'].errors?.['email']"
                            [ngClass]="{'error': formControl['email'].errors?.['email']}">Please enter valid Email
                            pattern.
                        </span>
                        <!-- end -->
                    </div>
                    <div>
                        <label for="office" class="disable">office</label>
                        <select class="inputText" formControlName="office">
                            <option [value]="0" selected disabled>All</option>
                            <option [value]="office.id" *ngFor="let office of offices">{{office.name}}</option>
                        </select>
                        <!-- office validation -->
                        <span class="error">
                            <span
                                *ngIf="formControl['office']?.touched && formControl['office'].errors?.['required']">select office
                                is Required
                            </span>
                        </span>
                        <!-- end -->
                    </div>
                </div>
                <div class="form-control-div">
                    <label for="contactno" class="disable">Primary contact No</label>
                    <input type="text" class="inputText" id="contactno" formControlName="contactno"
                        placeholder="Primary Contact Number" />
                    <!-- contact no validation -->
                    <span class="error"
                        *ngIf="formControl['contactno'].touched && formControl['contactno'].errors?.['required']"
                        [ngClass]="{'error': formControl['contactno'].errors?.['required']}">
                        Contact No is required
                    </span>
                    <span class="error" *ngIf="formControl['contactno'].dirty && formControl['contactno'].errors?.['pattern'] || formControl['contactno'].errors?.['minlength'] || formControl['contactno'].errors?.['maxlength']">
                        ContactNo should only in numbers and length should be 10.
                    </span>
                    <!-- end -->
                </div>
            </div>
            <div class="form-btn">
                <button type="button" class="bttn btn-black" (click)="resetForm()"><i class="fa fa-close"></i>
                    Cancel</button>
                <button class="bttn btn-blue" type="submit" [disabled]="!userForm.valid"><i class="fas fa-save"></i>
                    Save</button>
            </div>
        </form>
    </div>
</section>