/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
html{
    font-size: 1rem;
}
.cur-pointer{
    cursor: pointer;
}
.sidebar{
    background-color: white;
}
body{
  line-height: 1.6;
}
.flex-full-width{
  flex-grow: 1;
}
.container{
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  background-repeat: no-repeat;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 70%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box textarea{
    width: 70%;
    font-size: 16px;
    outline: none;
    border-radius: 5px;
    padding: 0 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid,
.user-details .input-box textarea:valid{
  border-color: #9b59b6;
}
.box{
    display: block;
}
 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #9b59b6;
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }
 form .button{
   height: 45px;
   margin: 35px 0
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #71b7e6, #9b59b6);
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}

.navbar-container{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

#navbar {
  left: 0;
  right: 0;
  width: 85vw;
  border-bottom: 0.2rem solid #f3f2f5;
}

.home-link{
  padding: 0 2rem;
}
.home-link,
.navbar-link {
  color: #000000;
  text-decoration: none;
  display: flex;
  font-weight: 400;
  align-items: center;
  
}

.navbar-link {
  justify-content: center;
  width: 100%;
  padding: 0 0.8em;
  
  .active{
    border-bottom: 1rem solid #2f6bff;  
    }
}
#navbar-menu .navbar-links{
  list-style: none;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0rem;
}

.form-header{
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}
.new-user-btn{
  background-color: #2f6bff;
  color: #fff;
  padding: 0.2rem;
  border: 1px solid #2f6bff;
  border-radius: 3px;
  margin-left: 2rem;
}

.user-form{
  border: 1px thin #f3f2f5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.disable{
  display: none;
}
.form-control-div{
  position: relative;
  flex-grow: 1;
  margin: 1rem;
}

input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label{
  top: 5px;
  bottom: 10px;
  left: 15px;
  font-size: 11px;
}

.inputText {
  font-size: 14px;
  height: 35px;
  color: #000000;
  padding-left: 0.5rem;
  width: 100%;
}

.select-op{
  width: 13rem;
  height: 27px;
  margin-left: 0.4rem;
}

.inputText:focus{
  border: 0.2rem solid rgba(181,191,219,1);
  box-shadow: 1rem rgba(181,191,219,1);
}
.floating-label {
  position: absolute;
  pointer-events: none;
  left: 20px;
  top: 18px;
  transition: 0.1s ease all;
}

.form-btn{
  display: flex;
  justify-content: flex-end;
}

.form-control-div{
  margin-bottom: 3rem;
}
.bttn{
  padding: 0.4rem 1.5rem;
  margin: 0.5rem;
}
.btn-black{
  background-color: #000000;
  color: #ffffff;
}
.btn-blue{
  background-color: #2f6bff;
  color: #ffffff;
}
.error{
  color: red;
  margin-left:1rem ;
}
.table-container{
  border-collapse: collapse;
  width: 100%;
  margin-top: 1rem;

  tr{
    background-color: #e5e7ea;
  }

  td,th{
    padding: 8px;
  }
}
.font-black{
  color: black;
}
.btn-trans{
  background-color: transparent;
  border: none;
}
.modal-backdrop.show{
  opacity: 0;
}
.modal{
    position: absolute;
    overflow: visible;
}
.modal-content{
  position: absolute;
  top: -3px;
  right: 61px;
}
.modal-body {
  padding: 0rem;
}
.modal-link{
  border-bottom: 1px solid rgba(0,0,0,.2);
  padding: 0.5rem;
}
.modal-link a{
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}
