/* You can add global styles to this file, and also import other style files */
@import 'assets/scss/base/index.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
html, body{
    font-size: 1rem;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}
.dis-flex{
  display: flex;
}

.new-user-btn{
  background-color: #2f6bff;
  color: #fff;
  padding: 0.4rem 2rem; 
  border: 1px solid #2f6bff;
  border-radius: 0.5rem;
  margin-left: 2rem;
  box-shadow: 4px 4px 4px #2f6bff;
}

/* sidebar component css */
.sidebar{
  background-color: $bg-primary;
  border: $bottom-border;
  padding-top: 2.5rem;
}
#menu-icon{
  color: $blue-font ;
  font-size: 2rem;
  margin: 1rem;
  z-index: 9;
  position: absolute;
  top: 0;
  left: 0;

  span{
    margin-left: 1rem;
  }
}
.app-container{
position: relative;
height: 100%;
width: 100%;
}
.flex-full-width{
flex-grow: 1;
overflow: auto;
}

.menu{
  height: 100%;
  & .feature-nav{
    border-bottom: $bottom-border;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;

    & ul{
      padding-left: 0;

      & li span{
        margin-left: 1.1rem;
      }
    }

    & li:hover{
    background-color: #eaedfc;
    border-radius: 0.5rem;
    color: #7d89c3;

    & a{
      color: #0c48a1
    }
    }
  }
}

.nav-link{
  display: flex;
  padding: 0.5rem 1.1rem;
  text-decoration: none;
  margin: 0.3rem;
  overflow: hidden;
  align-items: center;
  white-space: nowrap;

  & a {
    width: 100%;
    text-decoration: none;
    color: #4d4d4f;
  }
}


.navigation{
  height: 100%;
  margin-top: 2rem;
  border-top: $bottom-border;
}

.user-image{
  height: 3.3rem;
  border-radius: 50%;
  background-color: #03295c;
  padding: 0.2rem;
  figure{
    height: 100%;

    img{
      height:100%;
    }
  }
}

#profile-wrapper{
  margin: 0.5rem -0.5rem;
  cursor: pointer;
}
#user-detail{
  margin-left: 0.5rem;

  span{
    font-size: 0.8rem;
    color: #4d4d4f;
  }

  h5{
    margin-bottom: 0;
    color: #000000;
  }
}
/* end of sidebar */


/*
start resume builder components css
*/

.resume-wrapper{
  background-color:  $bg-main;
  padding: 2rem;
  margin: 2rem 3rem;
  border-top: $resume-border 0.4rem solid;
  border-bottom: $resume-border 0.4rem solid;
}

.resume-header{
   text-align: left;
   width: 100%;
   border-bottom: 1px solid $resume-border;
   border-collapse: collapse;

   #header-name{
       width: 75%;
   }

   #header-contact{
       width: 25%;
   }
}

.form-header{
  @extend .flex;
  padding: 2rem;
}

/* end of resume-builder
*/
/* start User module css */

.user-wrapper{
  background-color: $bg-main;
  height: 100%;
}
/* end user module */

.flex{
  display: flex;
  justify-content: space-between;
}


.user-form{
  @extend .flex;
  border: 1px thin #f3f2f5;
}

.disable{
  display: none;
}
.form-control-div{
  position: relative;
  width: 100%;
  margin: 1rem;
}

input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label{
  top: 5px;
  bottom: 10px;
  left: 15px;
  font-size: 11px;
}

.inputText {
  font-size: 14px;
  height: 35px;
  color: #000000;
  padding-left: 0.5rem;
  width: 100%;
  border-radius: 0.5rem;
  border-color: $light-border;
}

.select-op{
  width: 13rem;
  height: 2.5rem;
  margin-left: 0.4rem;
  padding-left: 0.5rem;
  border-radius: 0.5rem;
  border-color: $light-border;
}

.floating-label {
  position: absolute;
  pointer-events: none;
  left: 20px;
  top: 18px;
  transition: 0.1s ease all;
}

.form-btn{
  display: flex;
  justify-content: flex-end;
}

.form-control-div{
  margin-bottom: 3rem;
}
.bttn{
  padding: 0.4rem 1.5rem;
  margin: 0.5rem;
}
.btn-black{
  background-color: $black;
  color: $primary-font;
}
.btn-blue{
  background-color: $primary-btn;
  color: $primary-font;
  border: 1px solid $blue-border;
  box-shadow: 4px 4px 4px $blue-border;
  border-radius: 0.5rem;

}
.error{
  color: $error-font;
}

.table-container{
  border-collapse: collapse;
  width: 98%;
  margin: 1rem;
  background-color:$bg-primary ;
  border-radius: 0.8rem;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;

  .bottom-row{
    border-bottom: $bottom-border;
  }

  th{
    font-weight: 400;
    color: #cbccd0;
  }
  td,th{
    padding: 0.8rem;
  }
}
.last-row{
  visibility: hidden;
}
.font-black{
  color: $secondary-font;
}
.btn-trans{
  background-color: transparent;
  border: none;
}

#toggle{
  display: none;
}

#toggle:checked +.sidebar {
  width: 3.5rem;
  transition: all 0.5s ease-in-out;

  & .user-image{
    height: 2.5rem;
    transform: rotateX(90);
  }
  & #menu-icon span{
    position: absolute;
    bottom: 50px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }
}

#toggle:not(:checked) +.sidebar {
  width: 18rem;
  transition: all 1s ease-in-out;  
}

#dropdownMenuButton1{
  color: #cbccd0;
}

.table-50-width{
  width: 50%;
}
.btn-link{
  cursor: pointer;

  & :hover{
    color: #2f55e4;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {
  .sidebar{
    width: 100%;
    height: 0;
  }

  .dis-flex{
    display: none;
  }
  .feature-nav{
    display: flex;
    justify-content: center;
  }
  .table-wrapper{
    overflow-x: scroll;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width:  768px) {
  .sidebar{
    width: 100%;
    height: 100%;
    transform: translateX(-50rem);
  }
  #toggle:checked +.sidebar {
    width: 100%;
    // transition: all 1s;
    transform: translateX(0rem); 
  }
  
  #toggle:not(:checked) +.sidebar {
    // transition: all 1s;
    padding: 0;
  }

  
  #profile-wrapper{
    width: 100%;
    justify-content: center;
  }
  .flex-full-width {
    display: block;
    overflow: auto;
    position: absolute;
    top: 0;
    z-index: -1;
  }
  .dis-flex{
    display: block;
  }
  .feature-nav{
    display: flex;
    justify-content: center;
  }
  .table-wrapper{
    overflow-x: scroll;
    padding: 1rem;
  }
  .form-header {
    padding-left: 3.2rem;
    padding-top: 0.6rem;
  }

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .sidebar{
        width: 17rem;
  }
  
  .table-wrapper{
    overflow-x: scroll;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {
//   .sidebar{
//     width: 3rem;
//     height: 100%;
//   }
//   #toggle:checked +.sidebar {
//     width: 3.7rem;
//     transform: translateX(0rem);
//     transition: all 1s ease-in-out;
//   }

// }