<div class="p-3">
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Section</th>
          <th>Phone no</th>
          <th>Marks</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of studentDetails$ | async; let i = index">
          <td>{{ student.id }}</td>
          <td>{{ student.name }}</td>
          <td>{{ student.section }}</td>
          <td>{{ student.phoneNo }}</td>
          <td>  
            {{student.marks | json}}          
          </td>
          <!-- for edit and delete click events -->
          <td><a (click)="editform(student.id)"><i class="fa fa-edit"></i></a></td>
          <td><a (click)="deleteform(student.id)"><i class="fa fa-trash"></i></a></td>
        </tr>
      </tbody>
    </table>
  </div>