<!-- table for the listing the form data -->
<div class="d-flex justify-content-between m-4">
  <div class="">
    <div class="d-flex flex-grow-1">
      <button class="btn btn-primary whitespace-nowrap" routerLink="../add">+ ADD</button>
      <div class="input-group ms-3 ">
        <input type="text" #search placeholder="search here.."  class="col-4 form-control" [(ngModel)]="searchString" (keyup)="searchData()">
        <button class="btn btn-primary" (click)="searchData()">Search</button>
      </div>
    </div>
  </div>
  <div>
    <button class="btn bg-light text-dark border border-dark fs-5 me-2" (click)="clearFilter()">Clear</button>
    <button class="btn bg-light text-dark border border-dark fs-5" cdkOverlayOrigin #originOverlay="cdkOverlayOrigin" (click)="filter()"><i class="icon-funnel"></i></button>
  </div>
</div>

<div class="">
  <table class="table" (click)="sortTable($event)">
    <thead class="">
      <tr class="text-center bottom-row">
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Username</th>
        <th>Email</th>
        <th>AGE</th>
        <th>GENDER</th>
        <th>Birthdate</th>
        <th>location</th>
        <th>address</th>
        <th>Mobile No</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="" cdkDropList (cdkDropListDropped)="drop($event)">
      <tr class="text-center bottom-row" *ngIf="length <= 0; else listrecords" cdkDragLockAxis="y">
        <td colspan="8">No record Found</td>
      </tr>
      <ng-template #listrecords>
        <tr
          class="text-center bottom-row "
          *ngFor="let mentor of mentorsList; let i = index"
          cdkDrag
        >
          <td>{{ mentor.firstname }}</td>
          <td>{{ mentor.lastname }}</td>
          <td>{{ mentor.username }}</td>
          <td>{{ mentor.email }}</td>
          <td>{{ mentor.age }}</td>
          <td>{{ mentor.gender }}</td>
          <td>{{ mentor.birthdate | date: 'dd/MM/yyyy' }}</td>
          <td>{{ mentor.location }}</td>
          <td>{{ mentor.address }}</td>
          <td>{{ mentor.mobilenumber }}</td>
          <td
            class="position-relative"
            (click)="showModal(i)"
            cdkOverlayOrigin
            #originOverlay="cdkOverlayOrigin"
          >
            <i class="fa fa-ellipsis-h"></i>
          </td>
          <ng-template
            cdkConnectedOverlay
            [cdkConnectedOverlayOrigin]="originOverlay"
            [cdkConnectedOverlayOpen]="isOpen[i]"
          >
            <ul class="action-menu">
              <li><a class="dropdown-item" (click)="editMentor(mentor.id)">Edit</a></li>
              <li><a class="dropdown-item" (click)="deleteMentor(mentor.id)">Delete</a></li>
              <li>
                <a class="dropdown-item">Clone</a>
              </li>
            </ul>
          </ng-template>
        </tr>
      </ng-template>
    </tbody>
  </table>

    <app-pagination *ngIf="length > 0" [totalRecords]="10" [recordsPerPage]="5" (onPageChange)="displayActivePage($event)"></app-pagination>

</div>
<!-- end -->
